body{
    text-align: center; 
} 

.choice-button{
    height:100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: greenyellow;
    border-radius:50px ;
    cursor: pointer;
}
.choice-image{
    height:75px;
}

.heading{
    margin: 0;
    padding: 0;
    background-color: aqua;
    border:45px;
    text-transform:uppercase
}